# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Env files
.env
.env.*

# Streamlit cache
.streamlit/

# SQLite DB
*.sqlite
data/kb.sqlite
data/test_*.sqlite
data/embeddings.npy
data/embeddings_meta.json

# Test/coverage output
.coverage
.pytest_cache/
htmlcov/

# KB docs
data/kb_docs/
