pytest
python-dotenv
pypdf
langchain
tqdm
langchain-community
chromadb
faiss-cpu
sentence-transformers
langchain-huggingface
tqdm

# LLM + API Clients
groq
langchain-groq

# Environment Variables
python-dotenv