pytest
python-dotenv
pypdf
langchain
tqdm
langchain-community
chromadb
faiss-cpu
sentence-transformers
langchain-huggingface
langchain-chroma
tqdm
pandas

# LLM + API Clients
groq
langchain-groq

# Environment Variables
python-dotenv

#fastapi
fastapi
uvicorn
streamlit

# Embeddings backend
torch

# ML for mental bot
joblib
scikit-learn

# Optional safety
requests